/* Esta clase corresponde al form que se encutra en el footer para la suscripción */
.login{
    grid-area: login;
    display: grid;
    grid-template-areas: "titulo"
                         "email"
                         "contrasenia"
                         "botonLogin";
    justify-content: center;
    align-content: center;
    gap: 15px;
    background: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Aquí se comienza a dar estilo a los elementos del form de la suscripción que se encuentran en el footer */
.login input{
    height: 5vh;
    width: 25vw;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(3, 18, 41);
    outline: none;
}

#btn-Login{
    height: 6vh;
    width: 25vw;
    border: 1px solid rgb(3, 18, 41);
}

#olvidoSuContraseña a{
    font-size: 1rem;
}